# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
+ List data science languages
+ List data science libraries
+ Create a table of Data Science tools
+ Convert minutes to hours


### Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. Julia
4. C++

### Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. Pandas
3. Sklearn
4. NumPy

|Data Science Tools|
|------|
|Pandas|
|Hadoop|
|Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
(3*4)+5

17

*This a simple arithmetic expression to mutiply then add integers*

*This will convert 200 minutes to hours by diving by 60*

In [4]:
200/60

3.3333333333333335

## Author
Leonel Lalanne